*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: Arial, Helvetica, sans-serif;
}
.container{
  width: 350px;
  margin: 20px auto;
  padding: 10px;
  background: #e0e0e0;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  overflow: hidden;
}
h1{
  text-align: center;
  margin: 10px auto;
  font-size: 25px;
}
.baseArea{
  width: 100%;
  margin: 1px 0;
  
}
.baseArea .felids{
  display: block;
  width: 60%;
  margin: 5px auto;
}
.felids{
  padding: 8px;
  text-align: center;
  font-size: 16px;
  outline: none;
  border: 1px solid #fff;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  margin: 10px 0;
}
.felids:focus{
  border-color: #40898c;
}
.f-right{
  width: 47%;
  float: right;
  margin-bottom: 15px;
}
.f-left{
  width: 47%;
  float: left;
  margin-bottom: 15px;
}
label{
  display: block;
  text-align: center;
  font-size: 14px;
}
small {
  font-size: 10px;
  color: #848484;
}
small a {
  color: #848484;
}
small a:hover {
  color: #195919;
}